body{
    font-family: "Roboto", cursive;
    margin:0;
}

.item_header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    font-weight: 700;
    background: rgb(68, 68, 74);
    background: linear-gradient(90deg, rgb(88, 88, 88) 0%, rgba(0,0,0,1) 33%, rgba(0,0,0,1) 73%, rgb(196, 6, 6) 100%);
    color:#fff;
}

.item_aside{
    grid-area: sidebar;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.menu{
    padding-left: 9%;
    padding-top: 0.5em;
    padding-bottom: 4%;
    font-size: 1.6em;
    font-weight: 600;
    text-decoration: underline;
}

.categorias{
    padding-left: 6%;
    font-size: .9em;
    display: flex;
    flex-direction: column;
}

.categorias a{
    margin: 0;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    text-decoration: none;
    color: rgb(87, 87, 87);
}

.categorias a:hover{
    color: rgb(255, 255, 255);
}

.categorias a:focus{
    color: rgb(0, 0, 0);
}

.item_main{
    grid-area: main;
}

.item_footer{
    background-color: black;
    grid-area: footer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-areas:
    "header header header"
    "sidebar main main"
    "footer footer footer"
    ;
    grid-template-columns: 20% auto;
    grid-template-rows: 15% auto 10%;
    height: 100vh;
}
.productos{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 10px;
    justify-content: space-around;
}

.card{
    margin: 3%;
    padding: 7%;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    border-style:dashed;
}

.card_text p{
    margin: 0;
}

.shirt{
    color: #282828;
    padding-top: 10%;
    font-size: 1.1em;
    font-weight: 550;
}

.wrestler{
    color: #5a5a5a;
    font-size: 0.8em;
    font-weight: 400;
    padding-top: 2%;
    padding-bottom: 5%;
}

.card_buy{
    display: flex;
    justify-content: space-between;
}

.card_buy p{
    font-size: medium;
    font-weight: 500;
}

.card_buy button{
    color: rgb(255, 255, 255);
    background-color: rgb(101, 116, 229);
    font-weight: 600;
    border: 0;
    border-radius: 15%;
}

.card_buy button:hover{
    background-color: #8b8b8b;
}

.card_buy button:focus{
    background-color: #606060;
}

.card_img img{
    width: 90%;
}