body{
    font-family: "Roboto", cursive;
    margin:0;
}

.item_header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    font-weight: 700;
    background: rgb(68, 68, 74);
    background: linear-gradient(90deg, rgb(88, 88, 88) 0%, rgba(0,0,0,1) 33%, rgba(0,0,0,1) 73%, rgb(196, 6, 6) 100%);
    color:#fff;
}

.item_aside{
    grid-area: sidebar;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.menu{
    padding-left: 9%;
    padding-top: 0.5em;
    padding-bottom: 4%;
    font-size: 1.6em;
    font-weight: 600;
    text-decoration: underline;
}

.categorias{
    padding-left: 6%;
    font-size: .9em;
    display: flex;
    flex-direction: column;
}

.categorias a{
    margin: 0;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    text-decoration: none;
    color: rgb(87, 87, 87);
}

.categorias a:hover{
    color: rgb(255, 255, 255);
}

.categorias a:focus{
    color: rgb(0, 0, 0);
}

.item_main{
    grid-area: main;
}

.item_footer{
    background-color: black;
    grid-area: footer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-areas:
    "header header header"
    "sidebar main main"
    "footer footer footer"
    ;
    grid-template-columns: 20% auto;
    grid-template-rows: 10% auto 7%;
    height: 100vh;
}
.productos{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 10px;
    justify-content: space-around;
}

.card_img img{
    width: 143px;
}